/* PAGE */

body {
    background-color: #708090 !important;
    font-family: 'Open Sans', sans-serif !important;
  }

h1 {
    font-size: 75px !important;
    font-weight: bold !important;
    font-family: 'Press Start 2P' !important;
    text-align: center !important;
    color: #DD4446 !important;
    -webkit-text-stroke: 1.5px white !important;
}

.intro-container{
  width:70% !important;
  margin:0 auto !important;
  margin-bottom:30px !important;
}

p {
    font-size: 18px !important;
    color: white !important;
    font-weight:400 !important;
}

.formatText {
    color: rgb(255, 255, 255) !important;
    text-align: center !important;
    font-family: 'Roboto', sans-serif !important;
    white-space: pre-line !important;
  }

hr {
  width:80% !important;
  margin-top:40px !important;
  margin-bottom:40px !important;
}

/* UI ELEMENT STYLES*/
.ui-elements {
  margin-bottom:30px !important;
}

.park-button-block {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-bottom:5px !important;
}


.row {
  display: grid !important;
  margin-right:10px !important;
  margin-left:10px !important;
}

.column {
  flex: 50% !important;;
  align-items: center !important;
}

.borough-title {
  text-align: center !important;
  font-size:18px !important;
  font-family: 'Press Start 2P' !important;
  color: #ffffff !important;
}


button {
  font-family: 'Press Start 2P' !important;
  text-transform: uppercase !important;
  margin: 7px !important;
  font-size:0.8em !important;

  background-color: #FFFFFF !important;
  border: 1px solid #222222 !important;
  border-radius: 3px !important;
  box-sizing: border-box !important;
  color: #222222 !important;
  cursor: pointer !important;
  display: inline-block !important;
  line-height: 20px !important;
  outline: none !important;
  padding: 5px 8px !important; 
  position: relative !important;
  text-align: center !important;
  text-decoration: none !important;
  touch-action: manipulation !important;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  /* width: auto !important; */
  width:100% !important;
}

button:hover {
  background-color: #f0f0f0 !important;
  /* border-color: #000000; */
}

button.pressed {
  background-color: #f0f0f0 !important;
  /* border-color: #000000; */
  transform: scale(1.02) !important;
}

/* MAP */
#map-container{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

#map { 
  height: 600px !important; 
  width: 75% !important;
    
}

.popup-text{
  font-size: 16px !important;
  color: #171717 !important;
  font-weight:300 !important;
}

.popup-link{
  font-size: 14px !important;
  color: #171717 !important;
  font-weight:300 !important;
  margin-bottom: 5px !important;
}

img {
  width:100% !important;
  height:100% !important;
}