/* PAGE */

body {
    background-color: #171717 !important;
    font-family: 'Open Sans', sans-serif !important;
  }

h1 {
    font-size: 75px !important;
    font-weight: bold !important;
    font-family: 'Press Start 2P' !important;
    text-align: center;
    color: #DD4446;
    -webkit-text-stroke: 1.5px white;
}

.intro-container{
  width:70% !important;
  margin:0 auto !important;
  margin-bottom:30px !important;
}

p {
    font-size: 18px !important;
    color: white !important;
    font-weight:300 !important;
}

.formatText {
    color: rgb(255, 255, 255) !important;
    text-align: center !important;
    font-family: 'Roboto', sans-serif !important;
    white-space: pre-line !important;
  }

/* MAP */
  #map { 
    height: 600px !important; 
    width: 75% !important;
}